<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Голосование за изображения</title>
</head>
<body>
<form action="/api/vote" method="post">
    <div class="container">
        <div class="card">
            <img src="images/anime_books.gif" alt="Изображение 1">
            <label>
                <input type="radio" name="voteCard" value="1"> Голос за изображение 1
            </label>
        </div>
        <div class="card">
            <img src="images/anime_computer.jpg" alt="Изображение 2">
            <label>
                <input type="radio" name="voteCard" value="2"> Голос за изображение 2
            </label>
        </div>
    </div>
    <button type="submit">Отправить</button>
</form>
</body>
</html>
